/* Общие стили */
body {
    /* Сброс отступов */
    margin: 0;
    padding: 0;
    /* Шрифт */
    font-family: Arial, sans-serif;
}

/* Скрывать элемент */
.hide{
    display: none;
}

/* Окно с котом */
.cat{
    text-align: center;
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 100px;
    height: 130px;
    background-color: white;
    padding: 10px;
    border: 1px solid black;
}
.cat-text {
    color: grey;
    font-size: 14px;
}


/* Шапка, меню и подвал */
.header, .menu, .footer {
    background-color: #000;
    color: #fff;
    padding: 15px;
    text-align: center;
}

/* Логотип */
.logo {
    font-size: 30px;
    font-weight: bold;
}

/* Ссылки меню */
.menu a {
    color: #fff;
    text-decoration: none;
    padding: 15px;
}
.menu a:hover{ /*При наведении на ссылку*/
    color: orange;
}





/* Текст контента */
.content {
    padding: 50px;
    text-align: center;
}


/* Стили для слайдера */
/* Весь блок */
.slider{
    text-align: center;
    font-size: 20px;
}
/* Картинка */
.slide img{
    width: 100%;
}
/* Стрелки лево-право */
.left, .right{
    width: 100%;
}

/* Текст с информацией как пользоваться */
.info{
    font-size: 13px;
    color: #a8a7a7;
}





/* Таблица с кнопками действия */
.actions {
    margin-top: 50px;
}

/* Граница ячеек */
.actions td{
    border: 1px solid black;
    width: 33%;
}

/* Текст кнопок */
.action h3 {
    font-size: 20px;
    margin-bottom: 10px;
}
.action p {
    font-size: 16px;
}

/* Ссылки кнопок */
.action a{
    display: block;
    padding: 25px;
    color: #000;
    text-decoration: none;
}

/* Стили для подвала */
.footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.footer p {
    margin: 0;
}